@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

// - Very dark blue (main background): hsl(233, 47%, 7%)
// - Dark desaturated blue (card background): hsl(244, 38%, 16%)
// - Soft violet (accent): hsl(277, 64%, 61%)

// - White (main heading, stats): hsl(0, 0%, 100%)
// - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
// - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

$color-very_dark_blue: hsl(233, 47%, 7%);
$color-dark_desaturated_blue: hsl(244, 38%, 16%);
$color-soft_violet: rgb(170, 92, 219);

$color-white: hsl(0, 0%, 100%);
$color-transparent: hsla(0, 0%, 100%, 0.75);
$color-transparent--2: hsla(0, 0%, 100%, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-very_dark_blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 5rem;
  background-color: $color-dark_desaturated_blue;
  border-radius: 1rem;
  margin-inline: 10rem;
}

.img-area img {
  width: 100%;
  display: block;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-135deg)
    saturate(600%) contrast(0.8);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.text-area {
  padding-right: 5rem;
  font-family: "Inter", sans-serif;
  max-width: 40rem;
  .text-header {
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    span {
      color: $color-soft_violet;
    }
  }
  .text-content {
    line-height: 2rem;
    font-size: 1.3rem;
    max-width: 30rem;
    padding-top: 2rem;
    p {
      color: $color-transparent--2;
    }
  }
  .text-stats {
    width: 30rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 6rem;
    font-family: "Lexend Deca", sans-serif;
    .stats-num {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    .stats-type {
      color: $color-transparent--2;
      font-size: 1.125rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
