@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #090b1a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem;
  background-color: #1b1938;
  border-radius: 1rem;
}

.img-area img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-135deg) saturate(600%) contrast(0.8);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-135deg) saturate(600%) contrast(0.8);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.img-mobile {
  display: none;
}

.text-area {
  padding-right: 5rem;
  font-family: "Inter", sans-serif;
  max-width: 40rem;
}

.text-area .text-header {
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
}

.text-area .text-header span {
  color: #aa5cdb;
}

.text-area .text-content {
  line-height: 2rem;
  font-size: 1.3rem;
  max-width: 30rem;
  padding-top: 2rem;
}

.text-area .text-content p {
  color: rgba(255, 255, 255, 0.6);
}

.text-area .text-stats {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
  font-family: "Lexend Deca", sans-serif;
}

.text-area .text-stats .stats-num {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.text-area .text-stats .stats-type {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-padding-start: 0rem;
            padding-inline-start: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 60%;
  }
  .img-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: inline-block;
  }
  .text-area {
    padding-right: 0;
    padding-top: 2rem;
    padding-inline: 2rem;
  }
  .text-area .text-header {
    font-size: 1rem;
    padding-top: 2rem;
  }
  .text-area .text-content {
    padding-top: 2rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
    max-width: 40rem;
  }
  .text-area .text-stats {
    min-width: 0rem;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
    display: block;
  }
  .text-area .text-stats > * {
    padding-top: 2rem;
  }
  .text-area .text-stats > *:last-child {
    padding-bottom: 2rem;
  }
  .img-area img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .card {
    width: 80%;
  }
  .text-area .text-header {
    font-size: 1rem;
  }
  .text-area .text-stats {
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */